"*":
  "atom-material-ui":
    colors:
      abaseColor:
        red: 0
        green: 172
        blue: 193
        alpha: 1
      accentColor:
        red: 25
        green: 253
        blue: 255
        alpha: 1
      predefinedColor: "Cyan"
    fonts: {}
    tabs:
      compactTabs: true
    treeView:
      compactList: true
    ui:
      panelContrast: true
      panelShadows: true
  "atom-typescript": {}
  core:
    closeEmptyWindows: false
    disabledPackages: [
      "linter-sass-lint"
    ]
    openEmptyEditorOnStart: false
    projectHome: "/Users/jubal/Projects"
    themes: [
      "atom-material-ui"
      "atom-material-syntax"
    ]
  editor:
    fontFamily: "Source Code Pro"
    invisibles: {}
    lineHeight: 1.25
  "exception-reporting":
    userId: "109212cb-99c9-0f89-4d2d-7b9cda433ccb"
  linter: {}
  "linter-sass-lint":
    configFile: "/Users/jubal/.sass-lint.yaml"
    globalNodePath: "/Users/jubal/.npm-packages"
  "omnisharp-atom":
    altGotoDefinition: true
    autoStartOnCompatibleFile: false
    enableAdvancedFileNew: false
  "terminal-plus":
    core: {}
    style: {}
    toggles:
      autoClose: true
  "tree-view": {}
  welcome:
    showOnStartup: false
