# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'
#
# Each scope (e.g. '.source.coffee' above) can only be declared once.
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
# https://atom.io/docs/latest/using-atom-basic-customization#cson
'.text.html':
  'html':
    'prefix': 'html:5'
    'body': """
      <!doctype html>
      <html lang="en">
      <head>
        <base href="/" />
        ${1:<!-- meta -->}
      </head>
      <body>
        ${2}
      </body>
      </html>
    """
  'meta: open graph':
    'prefix': 'meta:og'
    'body': """
        <meta property="og:title" content="${1}">
        <meta property="og:site_name" content="${2}">
        <meta property="og:url" content="${3}">
        <meta property="og:description" content="${4}">
        <meta property="fb:app_id" content="${5}">
        <meta property="og:type" content="${6:website}">
    """
  'meta: default':
    'prefix': 'meta:default'
    'body': """
        <meta charset="utf-8">
        <meta name="description" content="${2}">
        <meta name="robots" content="index, follow">
        <meta name="author" content="${3}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>${1}</title>
    """
